<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>143417067014-ll896fhhtrt68ctlrbu9rvts2gk5pp6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143417067014-ll896fhhtrt68ctlrbu9rvts2gk5pp6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCodXt5l0yCeibVle73wXs0pYDdEBOM7Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>143417067014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.kinectpro.aPartime</string>
	<key>PROJECT_ID</key>
	<string>team-kinectpro-apartime</string>
	<key>STORAGE_BUCKET</key>
	<string>team-kinectpro-apartime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143417067014:ios:75c3f838edd54f94</string>
	<key>DATABASE_URL</key>
	<string>https://team-kinectpro-apartime.firebaseio.com</string>
</dict>
</plist>