<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88076207461-vrs2cankhg7s6j623ljra1e4aqs03av4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88076207461-vrs2cankhg7s6j623ljra1e4aqs03av4</string>
	<key>API_KEY</key>
	<string>AIzaSyCU_xrarzb_zDFDc-rT0FeY-XhwRiXKZVI</string>
	<key>GCM_SENDER_ID</key>
	<string>88076207461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.kinect.pro.aPartime</string>
	<key>PROJECT_ID</key>
	<string>team-kinect-pro-apartime</string>
	<key>STORAGE_BUCKET</key>
	<string>team-kinect-pro-apartime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88076207461:ios:ddf7eb542f8d37d3</string>
	<key>DATABASE_URL</key>
	<string>https://team-kinect-pro-apartime.firebaseio.com</string>
</dict>
</plist>